#ifndef _APP_RES_INVOKED_
#define _APP_RES_INVOKED_

#ifndef _MAC

// Version

1 VERSIONINFO
FILEVERSION     3,0,6,900
PRODUCTVERSION  3,0,6,900
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "ZH_CN NetWork\0"
      VALUE "FileDescription", "Portable DLL for Mozilla by adonais\0"
      VALUE "FileVersion", "3.0.6"
      VALUE "InternalName", "Portable\0"
      VALUE "LegalCopyright", L" (C) \x534E\x306Eblog , \x4FDD\x7559\x6240\x6709\x6743\x5229\x3002\0"
      VALUE "OriginalFilename", "Portable.dll\0"
      VALUE "ProductName", "Portable.dll"
      VALUE "ProductVersion", "3.0.6"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

#endif    // !_MAC

#endif    // _APP_RES_INVOKED_
