#ifndef _APP_RES_INVOKED_
#define _APP_RES_INVOKED_

#ifndef _MAC

// Version

1 VERSIONINFO
FILEVERSION     7,0,3,100
PRODUCTVERSION  7,0,3,100
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "ZH_CN NetWork\0"
      VALUE "FileDescription", "Portable DLL for Mozilla by adonais\0"
      VALUE "FileVersion", "7.0.3"
      VALUE "InternalName", "Portable\0"
      VALUE "LegalCopyright", L"License: BSD 2\0"
      VALUE "OriginalFilename", "Portable.dll\0"
      VALUE "ProductName", "Portable.dll"
      VALUE "ProductVersion", "7.0.3"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

#endif    // !_MAC

#endif    // _APP_RES_INVOKED_
